<footer class="site-footer">

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1" align="left">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2" align="left">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username="Github" %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username="Twitter" %}
          </li>
          {% endif %}

          {% if site.linkedin_username %}
          <li>
            {% include icon-linkedin.html username="LinkedIn" %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3" align="right">
        <p>{{ site.description | escape }}</p>
        <p> ORCID: <a href="https://orcid.org/0000-0001-5540-5011">{{site.orcid}}</a></p>
      </div>
    </div>

  </div>
</footer>
