
.half{
    @include media-query($on-palm) {
        width: 100%;
    }
    width: 50%;
}

.one-third{
    @include media-query($on-palm) {
        width: 100%;
    }
    width:33.333%;
}

.two-thirds{
    @include media-query($on-palm) {
        width: 100%;
    }
    width:66.667%;
}

.center-piece{
    box-sizing: border-box;
    border:1px solid black;
    float:left;
    @include media-query($on-palm) {
        border:2px solid black;
        margin-top:2px;
        margin-bottom:2px;
    }
}

.right-piece{
    box-sizing: border-box;
    border:1px solid black;
    float:left;
    @include media-query($on-palm) {
        border:2px solid black;
        margin-top:2px;
        margin-bottom:2px;
    }
}

.left-piece{
    box-sizing: border-box;
    border:1px solid black;
    float:left;
    @include media-query($on-palm) {
        margin-top:2px;
        margin-bottom:2px;
        border:2px solid black;
    }
}


// About CSS
.about-piece{
    width: 100%;  
    border:1px solid black;
}

.gallery_container{
    margin-left:auto;
    margin-right: auto;
    height: 320px;
    background-position: center center;
    background-size: cover;
    margin-bottom: 1em;
    @include media-query($on-palm) {
       height: 200px; 
    }
    display:flex;
}

.gallery_slide{
    display:none;
}

.animated {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes animated {
    from {opacity: .4}
    to {opacity: 1}
  }

@keyframes animated {
    from {opacity: .4}
    to {opacity: 1}
}



