
.half{
    @include media-query($on-palm) {
        width: 100%;
    }
    width: 50%;
}

.one-third{
    @include media-query($on-palm) {
        width: 100%;
    }
    width:33.333%;
}

.two-thirds{
    @include media-query($on-palm) {
        width: 100%;
    }
    width:66.667%;
}

.center-piece{
    box-sizing: border-box;
    border:1px solid black;
    float:left;
    @include media-query($on-palm) {
        border:2px solid black;
        margin-top:2px;
        margin-bottom:2px;
    }
}

.right-piece{
    box-sizing: border-box;
    border:1px solid black;
    float:left;
    @include media-query($on-palm) {
        border:2px solid black;
        margin-top:2px;
        margin-bottom:2px;
    }
}

.left-piece{
    box-sizing: border-box;
    border:1px solid black;
    float:left;
    @include media-query($on-palm) {
        margin-top:2px;
        margin-bottom:2px;
        border:2px solid black;
    }
}


.about-piece{
    width: 100%;  
    border:1px solid black;
}


