<!DOCTYPE html>
{% assign about_imgs = site.static_files | where: "about", true %}
{% assign num_pictures = about_imgs | size%}
<html>
{% include head.html %}
<body>
    {% include header.html %}
<div class="container partition">

       <div class="row" style="margin-top: 2em">
        <div class="container page-container">
       
           <h1 class="page-title">{{page.title}}</h1>
         
           {% if num_pictures > 0 %}
                <div class="carousel_div">
                    <div class="gallery_container">

                        {% for img in about_imgs %}
                            <div class="gallery_slide animated">
                                <img src={{img.path}} style="height:100%">
                            </div>
                        {% endfor %}
                        
                        
                    </div>
                    <div class="gallery_dots" style="text-align:center">
                        {% for i in (1 .. num_pictures) %}
                            <span class="dot" onclick="currentSlide({{i}});"></span>
                        {% endfor %}
                    </div>
                    <a class="prev" onclick="plusSlides(-1);">&#10094;</a>
                    <a class="next" onclick="plusSlides(1);">&#10095;</a>
                </div>
                <br>
            {% endif %}

          {{ content }}
          
          
          </div>
    </div>

</div>
{% include footer.html %}
<script src="{{ base.url | prepend: site.url }}/assets/js/gallery.js"></script> 
</body>
</html>
